{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
{% for article in liste %}
<p>{{article.titre}}</p>
<p>{{article.id}}</p>
<p>{{article.date | date('y-m-d')}}</p>
<p>{{article.user.nom | upper}} {{article.user.prenom}}</p>
{# peut etre penser a tester la methode magique #}
{% endfor %}
{% endblock %}